.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background:#28B9B5;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #28B9B5;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #FF5049;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #FF5049;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  

/* =========================================
                Mobile Menu
============================================ */
.menu-btn{
    font-size: 35px;
    color: #f41366;
    margin-left: 70px;
}

.navbar-fixed-top.scrolled {
    background: #28B9B5;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
  }
  .hr.scrolled{
      background:  #FF5049;
  }



/*==================================================
			Bootstrap 3 Media Queries        
==================================================*/


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1299px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
    }
    /* Generic */
    .vertical-heading h2 {
        font-size: 29px;
    }
    /* Services 02 */
    #services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }
    .service-tab p {
        line-height: 20px;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
       /* Home */
       header h1{
        margin-left: 20px;
        margin-top: 200px;
        font-size: 55px;
        font-weight: 550;
    }
    header p{
        color: #f7f7f7;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 20px;
    }
    header .btn{
        background-color: #28B9B5;
        color: #f7f7f7;
        font-size: 25px;
        position: absolute;
        left: 43%;
        margin-left: -70px;        
    }
    #arrow-down{
        display: none;
    }
}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {
   
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
    .tops{
        height: 70vh;
    }
 
    .budget__title {
        margin-top: 220px;
    }
    .budget__income ,.budget__expenses {
        
        width: 230px;
        margin-left:55px
    }

    /* Home */
    .navbar-brand{
        margin-right: 80px;
    }
    header h1{
        margin-left: 20px;
        margin-top: 160px;
        font-size: 38px;
        font-weight: 550;
    }
    header p{
        color: #f7f7f7;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 16px;
    }
    header .btn{
        background-color: #28B9B5;
        color: #f7f7f7;
        font-size: 20px;
        left: 40%;
        bottom: -100px;   
             
    }
    #arrow-down{
        display: none;
    }
        /* About 01 */
    /* Large Content Box */
    .content-box-lg {
        padding: 90px 0;
    }
    /* Vertical heading */
    .vertical-heading {
        text-align: center;
    }
    .vertical-heading h5 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }
    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }
    #about-left {
        margin-bottom: 50px;
    }
    #about-right {
        text-align: center;
    }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {
    .logout{
        margin-top:300px
    }
    .tops{
        height: 70vh;
    }
    .tops h4{
        font-size: 13px;
    }
    .budget__title {
        margin-top: 220px;
    }
    .budget__income ,.budget__expenses {
        
        width: 230px;
        margin-left:55px
    }


    header h1{
        margin-left: 20px;
        margin-top: 150px;
        font-size: 36px;
    }
    header p{
        color: #f7f7f7;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 14px;
    }
    header .btn{
        background-color: #28B9B5;
        color: #f7f7f7;
        font-size: 14px;
        position: absolute;
        left: 35%;
    
    }
      /* About 01 */
    /* Large Content Box */
    .content-box-lg {
        padding: 90px 0;
    }
    /* Vertical heading */
    .vertical-heading {
        text-align: center;
    }
    .vertical-heading h5 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        position: static;
        margin-bottom: 15px;
    }
    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }
    #about-left {
        margin-bottom: 50px;
    }
    #about-right {
        text-align: center;
    }
    #contact-right img{
        margin-left: 20px;
    }
}