/*********************************************
FOR HOME COMPONENT
**********************************************/
header{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(stats-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Simonetta', ;

}
header h1{
    margin-left: 50px;
    margin-top: 150px;
    color: #FF5049;
    text-transform: uppercase;
    font-size: 58px;
    scrollbar-color: #28B9B5;
}
header p{
    color: #f7f7f7;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 16px;
}
header .btn{
    background:none;
    color: #f7f7f7;
    font-size: 18px;
    position: absolute;
    border-radius: 40px;
    border: 2px #28B9B5 solid;
    left: 45%;
    bottom: -70px;
    text-align: center;
    margin-left: -35px;
    z-index: 1;
    
}
header .btn:hover{
padding: 10px;
color: #f7f7f7;
transition: 0.3s ease-in;
}
.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}



.navbar-brand {
margin-bottom: 22px;
}

ul>li>a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul>li>a:hover,
ul>li>a:focus {
    background: none;
    color: #28B9B5;
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 100px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
    color: #FF5049;
}
#arrow-down:hover,
#arrow-down:focus {
    color: #f7f7f7;
}
/* .about{
    margin: 30px 10px 20px;
}
.about img{
    width: 400px;
}
.about h3{
    color: #FF5049;
    font-size: 25px;
    font-weight: 600;
} */
#about-right p:first-child {
    margin-bottom: 30px;
    margin-top: 30px;
}

#about-bottom {
    margin-top: 60px;
}


#about-bottom img {
    margin: 0 auto;
}
.vertical-heading h5 {
    color: #FF5049;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: 10px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
}

.vertical-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin-left: 100px;
}

#statement {
    background: url("tech-statement.jpg") no-repeat fixed center;
    background-size: cover;
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}

#tech-statement h3 {
    color: #fff;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p {
    font-size: 14px;
    color: #f41366;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}
#contact{
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact-left p {
    margin: 60px 0 20px 48px;
}


#contact-right h4 {
    font-size: 24px;
    text-transform: uppercase;
}

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-yellow {
    color: #fff;
    border: 1px solid #FF5049;
    background-color: #FF5049;
}
.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #28B9B5;
    border: 1px solid #ffffff;
}


footer {
    background: #212226;
    padding: 10px;
}

footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}

footer p span {
    color: #28B9B5;
}
.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
    display: none;
}

/**********************************************
*** GENERAL
**********************************************/
body{
    font-family: 'Simonetta', ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Simonetta', ;

}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    margin-top: 20px;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}
.col-md-3{
    margin-top: 10px
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 100%;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width:100%;}
.add__value { width: 100%;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5;margin-top: 12px; }
.expenses__title { color: #FF5049;margin-top: 12px; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

